h1{

    
    
    color:red;
    font-family: 'Pacifico', cursive;


    font-size: 6rem !important;
    margin-right: 15px;
}

#header{

   background-color: black !important;
}

img{

   margin-top:-10px;
   margin-bottom: -6px;

}


.carousel-caption{

   top:200px;
}
